.h1 {

}

.palette {
  display: flex;
}

.red {
  background-color: red;
  color: red;
}

.green {
  background-color: green;
  color: green;
}

.blue {
  background-color: blue;
  color: blue;
}

.yellow {
  background-color: yellow;
  color: yellow;
}
